<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="add.css">
  </head>
  <body>
    <h1>Arithmatic_operations</h1>
    <form action="./output" method="get">
      <div class="seven">
        Enter first number:<input id="five" type="text" name="t1" placeholder="enter number" required><br>
        Enter second number:<input id="six" type="text" name="t2" placeholder="enter num"><br>
      </div>
      <input id="one" type="submit" value="add" name="op" >
      <input id="two" type="submit" value="sub" name="op">
      <input id="three" type="submit" value="mul" name="op">
      <input id="four" type="submit" value="div" name="op">
    </form>
  </body>
</html>
